
body{
font-family: 'Kanit', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}


.head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.play-icon{
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

h2{
    font-size: 50px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  15px;
    font-size: 25px;
}
.navigation ul li a{
	color:black;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}

.follow-btn{
    padding: 5px 10px;
    font-size: 30px;
    cursor: pointer;
}

.logo{
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo-img{
    height: 35px;
    width: 55px;
}

.follow-btn{

    padding: 10px 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-left: 15px;

}


.banner{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-2{

    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
    align-content: center;

}

.description-2{
    display: flex;
    flex-direction: column;
    text-align-last: right;
    margin: 0 30px;
}

.description-p{
    text-align: start;
    margin: 5px 5px;
}

.description-p2{

    text-align: right;
    margin: 5px 5px;
    font-size: 22px;

}

.description h3, h1, p{
    padding-bottom: 15px;
    font-weight: 800px;

}
.description-h1{
color: skyblue;
font-weight: bolder; 
font-size: 100px;
}

/*Funny Section*/

.funny-container{
    display: flex;
    justify-content: space-around;
    gap: 2px;
    margin: 15px 55px;
}

.funny-title{
    text-align: center;
}

.funny-title>h1{
    font-size: 35px;
}


.items{

    position: relative;
    border: none;
    color: brown;
    padding: 20px;
    width: 500px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;


}
.items {
    position: relative;
    width: 50%;
  }

 



.Add-one{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 25px;
    gap: 30px;
}



.description-h3{
    font-size: 50px; font-weight: 500;}
    
    
.description-p
    {font-size: 30px;}
.banner-img{
    height: 600px;
    width: 700px;
}

.sign-btn{

    color: white;
    background-color: palevioletred;
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    margin-right: 10px;

}

.rouge-btn{

    color: white;
    background-color:blueviolet;
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    margin-right: 10px;

}

/*Grid*/


.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: auto;
    height: 100vh;
    margin: 10px auto;
}



/* CSS for the main image */
.main-image {
    position: relative;
}

.main-image img {
    max-width: 700px;
    height: 600px;
    display: block;
}

.overlay-image {
    position: absolute;
    bottom: 400px;
    right:-40px;
    width: 35%; 
    opacity: 1;
}

.overlay-image img {
    max-width: 100%;
    height: 300px;
    display: block;
}

.picchi-img{
    width: 60px;
    height: 60px;
}

.btn-img{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    border-radius: 40px;
    padding: 15px 50px;
    gap: 8px;
}



.items{

    transition: width 2s;
  }
  
  .items:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 10px grey;
    border-radius: 8px;
    opacity: 0.5;

  }


  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.4;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }

  .items:hover .overlay {
    height: 100%;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .btn-img{

    transition: width 2s;
    gap: 10px;
    border: transparent;

  }  


  .btn-img:hover {
    transform: scale(1.05);
    border: 1px solid black;
    font-size: 17px;
    color: aqua;

  }  

  .first-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:5px;
    margin-bottom: 10px;
    margin-left: 5px;
}






.second-row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap:5px;
    margin-bottom: 10px;
}

footer{
    background-color: rgb(108, 108, 196);
}

footer>div{
    align-items: center;
}


.footer-logo{
    display: flex;
    justify-content:center;
    align-items: center;
}

.navigation{

    display: flex;
    justify-content:center;
    align-items: center;
    font-weight: normal;

}

.social{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    margin-top: 22px;
    padding-bottom: 20px;
}

.end{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}



@media screen and (max-width: 576px) {


    .head{

        display: inline;
        align-items: center;
    
    }

    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .navigation{
        display: flex;
        flex-direction: column;
    }

    .navigation ul li{
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .banner{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 425px;
        margin: 10px 10px;
    }

    .banner-img{
        height: 300px;
        max-width: 415px;
        margin: 0 15px;
    }

    .description{
        max-width: 80vw;
    }
    .description-h1{
        font-size: 50px;
    }

    .description-h3{
        font-size: 25px; font-weight: 500px;}

    .description-p
    {font-size: 15px;}    


    .sign-btn{

        color: white;
        background-color: palevioletred;
        padding: 10px 20px;
        border-radius: 20px;
        border: none;
        font-size: 15px;
        margin-right: 5px;
    
    }
    
    .rouge-btn{
    
        color: white;
        background-color:blueviolet;
        padding: 10px 20px;
        border-radius: 20px;
        border: none;
        font-size: 15px;
        margin-right: 5px;
    
    }

    .button-fair{
        display: flex;
        flex-direction: column;
        align-items:first baseline;
        align-content: center;
     }

     .funny-container{

        display: flex;
        flex-direction: column;


     }

    .play-icon{
        height: 50px;
        width: 50px;
        border-radius: 50px;
    }

     .Add-one{
        display: flex;
        flex-direction: column;
        align-items: center;
     }

     .add-description h1,p{
        font-size: 18px;
        text-align: start;
     }
     .grid-container {
     
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        width: auto;
        height: 100vh;
        margin: 5px auto;
    }
    
    
    
    /* CSS for the main image */
    .main-image {
        position: relative;

    }
    
    .main-image img {
        max-width: 300px;
        height: 300px;
        display: block;
        padding-left: -100px;
        padding-top: -10px;
        padding-bottom: 250px;
    }
    
    .overlay-image {
        position: absolute;
        bottom: -100px;
        right:-35px;
        width: 40%; 
        opacity: 1;
    }
    
    .overlay-image img {
        max-width: 100%;
        height: 150px;
        display: block;
    }

    .picchi-img{
        width: 10px;
        height: 10px;
    }

    .btn-img{
        padding: 1px 5px;
        border-radius: 4px;
        font-size: smaller;
    }

    .first-row{
        display: flex;
        justify-self:end;
    }

    .banner-2{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: auto;
    }

    .add-description>div{

        font-size: -18px;
        align-items: center;
        align-content: center;
        text-align: center;
        padding-left: 10px;

    }

    .add-description h1{
        text-align: center;
    }


    body{
        margin-right: 0;
        scroll-behavior: smooth;
    }

 

    .Add-one{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .funny-title{
        text-align: center;
        margin: 0 2px
    }

    .funny-title>p{
        padding-left: 15px;
    }

    .funny-container{
        align-items: center;
        align-content: center;
        padding-left: 10px;
    }

    .button-fair{
        padding-bottom: 10px;
    }

    footer{
        width: 100%;
        margin-left: 0;
        background-color: aliceblue;
        padding-left: 19px;
    }


    .banner>.description{
        padding: 10px;
        align-items: center;

    
}

}
